OPENMRS_HOME="/root/.OpenMRS"
OPENMRS_MODULES="/root/.OpenMRS/modules"
OPENMRS_PLATFORM_URL="https://sourceforge.net/projects/openmrs/files/releases/OpenMRS_Platform_2.0.5/openmrs.war/download"
OPENMRS_REST_URL="https://modules.openmrs.org/modulus/api/releases/1616/download/webservices.rest-2.20.0.omod"

DB_NAME="openmrs"
OPENMRS_DB_USER="root"
OPENMRS_DB_PASS="dev"
OPENMRS_MYSQL_HOST="172.17.0.1"
OPENMRS_MYSQL_PORT="3306"