OPENMRS_HOME=/root/.OpenMRS
OPENMRS_MODULES=/root/.OpenMRS/modules
DB_NAME=afyastat
OPENMRS_DB_USER=test
OPENMRS_DB_PASS=test
OPENMRS_MYSQL_HOST=172.17.0.1
OPENMRS_MYSQL_PORT=3306
OPENMRS_NAME=afyastat
JVM_OPTS=-Xmx3g -Xms3g
CATALINA_OPTS=-Xmx3g -Xms3g